.base {
    width: 100%; 
    height: 100vh;
    box-shadow: inset 0px 0px 5px 0px black;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .f{
        width: fit-content;
        background-color: white;
        padding: 5vw;
        border-spacing: 0px 20px;

        h2{
            text-align: center;
            font-size: 30px;
        }
        
        form{
            border: 1px solid black;
            padding: 15px;

            td{
                width: 200px;
            }
        }

        button{
            float: right;
        }
    }
}