<div id="responsive">
    <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler button-span" type="button" data-bs-toggle="collapse" data-bs-target="#menu-externo" aria-controls="menu-externo" aria-expanded="false" aria-label="Toggle navigation">
            <div class="animated-icon2">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="title">
            <h2 *ngIf="condition; else c" style="color: white;">SpaceBoard</h2>
            <ng-template #c style="color: black;"><h2>SpaceBoard</h2></ng-template>
        </div>
    </nav>
    <div class="collapse navbar-collapse bg-dark" id="menu-externo">
        <div class="p-4">
            <div class="main row">
                <button class="btn btn-light col-5"><i class="fas fa-user"></i></button>
                <button class="btn btn-light col-5" (click)="saveCajas()"><i class="far fa-save"></i></button>
                <button class="btn btn-light col-5" (click)="clearBoard()"><i class="far fa-window-close"></i></button>
                <button class="btn btn-light col-5" (click)="loadCajas()"><i class="fas fa-sync"></i></button>
                <button *ngIf="condition; else elseBlock" class="btn btn-light col-5" (click)="Lightmode()"><i class="far fa-lightbulb"></i></button>
                <ng-template #elseBlock><button class="btn btn-light col-5" (click)="Darkmode()"><i class="fas fa-lightbulb"></i></button></ng-template>
                <button class="btn btn-light col-5"><i class="fas fa-palette" routerLink="/palette"></i></button>
                <button class="btn btn-light col-5"><i class="fas fa-info" routerLink="/info"></i></button>
                <button class="btn btn-light col-5"><i class="far fa-window-restore" routerLink="/home"></i></button>
            </div>
            <div class="xico row">
                <button class="btn btn-light col-5" (click)="NewCaja(1, false)"><i class="fas fa-plus"></i></button>
                <button class="btn btn-light col-5" (click)="NewCaja(2, false)"><i class="fas fa-angle-left"></i><i class="fas fa-angle-right"></i></button>
                <button class="btn btn-light col-5" (click)="NewCaja(3, false)"><i class="fab fa-twitch"></i></button>
            </div>
        </div>
    </div>
</div>
<div id="menu" >
    <div class="title">
        <h2 *ngIf="condition; else c" style="color: white;">SpaceBoard</h2>
        <ng-template #c style="color: black;"><h2>SpaceBoard</h2></ng-template>
    </div>
    <div class="main row">
        <button class="btn btn-light col-5"><i class="fas fa-user" data-toggle="tooltip" data-placement="bottom" title="Login"></i></button>
        <button class="btn btn-light col-5" (click)="saveCajas()" data-toggle="tooltip" data-placement="bottom" title="Guardar Pizarra"><i class="far fa-save"></i></button>
        <button class="btn btn-light col-5" (click)="clearBoard()" data-toggle="tooltip" data-placement="bottom" title="Vaciar Pizarra"><i class="far fa-window-close"></i></button>
        <button class="btn btn-light col-5" (click)="loadCajas()" data-toggle="tooltip" data-placement="bottom" title="Cargar Cajas"><i class="fas fa-sync"></i></button>
        <button *ngIf="condition; else elseBlock" class="btn btn-light col-5" (click)="Lightmode()"><i class="far fa-lightbulb"></i></button>
        <ng-template #elseBlock><button class="btn btn-light col-5" (click)="Darkmode()"><i class="fas fa-lightbulb"></i></button></ng-template>
        <button class="btn btn-light col-5" data-toggle="tooltip" data-placement="bottom" title="Cambiar color de fondo" routerLink="/palette"><i class="fas fa-palette"></i></button>
        <button class="btn btn-light col-5" data-toggle="tooltip" data-placement="bottom" title="Info" routerLink="/info"><i class="fas fa-info"></i></button>
        <button class="btn btn-light col-5" data-toggle="tooltip" data-placement="bottom" title="Board" routerLink="/home"><i class="far fa-window-restore"></i></button>
    </div>
    <div class="grande row">
        <button class="btn btn-light col-12" (click)="NewCaja(1, false)">Desde URL</button>
        <button class="btn btn-light col-12" (click)="NewCaja(2, false)">Iframe</button>
        <button class="btn btn-light col-12" (click)="NewCaja(3, false)">Twitch stream</button>
    </div>
    <div class="xico row">
        <button class="btn btn-light col-5" (click)="NewCaja(1, false)"><i class="fas fa-plus"></i></button>
        <button class="btn btn-light col-5" (click)="NewCaja(2, false)"><i class="fas fa-angle-left"></i><i class="fas fa-angle-right"></i></button>
        <button class="btn btn-light col-5" (click)="NewCaja(3, false)"><i class="fab fa-twitch"></i></button>
    </div>
</div>
