.base {
    width: 100%; 
    height: 100%;
    box-shadow: inset 0px 0px 5px 0px black;
    padding: 5px;
    
    display: flex;
    // overflow: hidden;

    .content{
        width: 90%;
        // height: 100vh;
        margin: 0 auto;
        text-align: center;
        background-color: grey;

        // overflow: auto;

        &::-webkit-scrollbar{
            width: 15px;
        }
        &::-webkit-scrollbar-track{
            background: #201c29;   
        }
        &::-webkit-scrollbar-thumb{
            background-color: #666;
            border-radius: 20px;
        }
    }
        
    .Botones{
        display: flex;
        margin-top: 5vh;
    }
    
    .info{
        margin-top: 5vh;

        table{
            background-color: white;
            padding: 5px;
            border-radius: 5px;
            
            :first-child{
                width: 200px;
            }
            
            tr{
                height: 50px;
                padding: 10px;
                text-align: left;
            }
        }
    }

    .Boton-caja{
        margin-top: 5vh;

        button{
            width: 150px;
        }
    }
    .canvas{
        width: fit-content;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .but{
        display: flex;
        flex-direction: column;

        button{
            margin: 5px;
        }
    }
    .caja{
        margin-top: 20px;

        img{
            max-width: 350px;
        }
        .contenido{
            background-color: white;
            border-radius: 5px;
            padding: 10px;
        }
    }
    .contenido{
        max-width: 350px;
        text-align: justify;

        h2{
            text-align: center;
        }
    }
    .c{
        display: flex;
        width: fit-content;
        margin: 0 auto;
    }
}