.base{
    height: 100vh;
    width: 100%;
    box-shadow: inset 0px 0px 5px 0px black;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.draggable{
    width: fit-content;
    margin: 0px;
    padding-bottom: 10px;


    h1{
        text-align: center;
        margin-top: 5vh;
    }
    .menu-col{
        height: 400px;
        
        td{
            height: 90px;
            
            h2{
                margin: 0 10px;
            }
            
            input{
                width: 60px;
                height: 30px;
                padding: 0px;
            }
        }
        .g{
            text-align: center;
            input{
                padding: 6px 12px;
            }
        }
    }
    .box{
        height: 400px;
        padding: 12px;
        
        .canvas{
            box-shadow: inset 0px 0px 5px 0px black;
            height: 100%;
            width: 100%;
        }
    }
    
}