<div class="base">
    <div class="draggable row bg-light">
        <h1>Cambia los colores a tu gusto</h1>
        <div class="col-6 menu-col">
            <tr>
                <td><h2>Menu</h2></td>
                <td>
                    <input type="color" name="color-menu" [(ngModel)]="color1">
                    <input type="text" style="width: 120px;" name="text-menu" [(ngModel)]="color1">    
                </td>
            </tr>
            <tr>
                <td><h2>Fondo</h2></td>
                <td>
                    <input type="color" name="color-base" [(ngModel)]="color2">
                    <input type="text" style="width: 120px;" name="text-base" [(ngModel)]="color2">    
                </td>
            </tr>
            <tr>
                <td><h2>Cajas</h2></td>
                <td>
                    <input type="color" name="color-window" [(ngModel)]="color3">
                    <input type="text" style="width: 120px;" name="text-window" [(ngModel)]="color3">    
                </td>
            </tr>
            <tr>
                <td><h2>Botones</h2></td>
                <td>
                    <input type="color" name="color-button" [(ngModel)]="color4">
                    <input type="text" style="width: 120px;" name="text-button" [(ngModel)]="color4">    
                </td>
            </tr>
            <div class="g">
                <!-- Guardar -->
                <input type="submit" class="btn btn-dark" value="Guardar" (click)="color()">
            </div>
        </div>
        
        <div class="box col-6">
            <div class="canvas"></div>
        </div>

    </div>
</div>